<nav>
  <div class="site-title">
    <a href="/">
      <p class="header-p">Experiences</p>
    </a>

  </div>
  <ul>
    <!-- <li><a href="/">Experiences</a></li> -->
    <li class="nav-li"><a href="/exp/create">Add Yours</a></li>
    <li class="nav-li"><a href="/about">About us</a></li>

  </ul>
</nav>