<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="about content">
        <h2>About Me</h2>
        <p>I am Tushar a 3rd year CSE undergrad at NIT Jalandhar.</p>
        <br>
        <p> The main purpose of this website is to create a once stop solution to interview related query.</p>
        <br>
        <p>
          Reading others experience I think would help to focus on important things and calm our anxiety and instill
          self confidence.
        </p>
        <br>
        <p>keep adding and keep sharing!!</p>
        <br>
        <p>Thanks</p>
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p> -->
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p> -->
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>